<div class="row">
    <div class=" col-md-2" style="height:500px">
        <form #myForm="ngForm">
            <div class="form-group">
                <label for="amount">Amount: </label>
                <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="branchInput.enqAmount" placeholder="Enter Enquiry Amount">
            </div>
            <div class="form-group">
                <label for="purpose">Purpose: </label>
                <input type="text" class="form-control" id="purpose" name="purpose" [(ngModel)]="branchInput.enqPurpose" placeholder="Enter Enquiry Purpose">
            </div>
            <div class="form-group">
                <label for="mydate">Date Range: From: </label>
                <my-date-picker id="fromdate" name="fromdate" [(ngModel)]="branchInput.from"></my-date-picker>
            </div>
            <div class="form-group">
                <label for="mydate">Date Range: To: </label>
                <my-date-picker id="todate" name="todate" [(ngModel)]="branchInput.to"></my-date-picker>
            </div>
            <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button>
        </form>
    </div>
    <div class="col-md-10" style="height:500px">
        <div [chart]="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2" style="height:500px">
        <form #myForm="ngForm">
            <div class="form-group">
                <label for="amount1">Amount: </label>
                <input type="text" class="form-control" id="amount1" name="amount" [(ngModel)]="userInput.enqAmount" placeholder="Enter Enquiry Amount">
            </div>
            <div class="form-group">
                <label for="purpose1">Purpose: </label>
                <input type="text" class="form-control" id="purpose1" name="purpose" [(ngModel)]="userInput.enqPurpose" placeholder="Enter Enquiry Purpose">
            </div>
            <div class="form-group">
                <label for="fromdate1">Date Range: From: </label>
                <my-date-picker id="fromdate1" name="fromdate1" [(ngModel)]="userInput.from"></my-date-picker>
            </div>
            <div class="form-group">
                <label for="todate1">Date Range: To: </label>
                <my-date-picker id="todate1" name="todate1" [(ngModel)]="userInput.to"></my-date-picker>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-md-10" style="height:500px">
        <div [chart]="branchReport"></div>
    </div>
</div>

<!-- <div class="row" style="height:50%;background-color:red;">
    <div class="col-md-12">
        <p>A</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p>B</p>
    </div>
    <div class="col-lg-6">
        <p>C</p>
    </div>
</div> -->